*{
    margin: 0;
    padding: 0;
}
body {
   width: 100%;
   height:100vh;
   
   display: flex;
   align-items: center;
   justify-content: flex-start;
   flex-direction: column;

   background-color: palevioletred

}
.content{
    width:100%;
    height: 100vh;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: pink;

    border-radius: 2px ;

}